.total_users {
  display: flex;
  font-size: 50px;
}

.total_users .title {
  margin-right: 10px;
}

.data_list {
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
}

.total_data {
  width: 500px;
  height: 300px;
  overflow: scroll;
}

.total_answer {
  background-color: rgb(153, 145, 170);
}

.answer_list {
  display: flex;
}
